# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

client/node_modules
server/node_modules
client/dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

server/.env
server/client_secret_870457314426-vjhurjjcvh11epru55772ljepjsd7eq8.apps.googleusercontent.com.json